.c-vote-counter {
  width: 50px;
  float: left;
}

.c-vote-counter-button {
  background: transparent;
  border: 0;
  font-size: 26px;
}

.c-vote-counter-value--negative {
  color: #c0392b;
}

.c-vote-counter-value--positive {
  color: #2980b9;
}
